body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:581px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
}
#u235_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:581px;
  height:853px;
  background-image:none;
}
#u235_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:619px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:619px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:227px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:626px;
  width:546px;
  height:227px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:578px;
  height:1101px;
  visibility:hidden;
  background-image:none;
}
#u235_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:755px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:755px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:321px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:780px;
  width:556px;
  height:321px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:10px;
  width:41px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u240_ann {
  border-width:0px;
  position:absolute;
  left:179px;
  top:6px;
  width:1px;
  height:1px;
}
