body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:581px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:717px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:717px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:52px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:296px;
  width:426px;
  height:52px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:296px;
  width:418px;
  height:42px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:35px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:154px;
  width:558px;
  height:35px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:536px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:568px;
  height:536px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:58px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:683px;
  width:560px;
  height:58px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:425px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:700px;
  width:569px;
  height:425px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:10px;
  width:41px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u240_ann {
  border-width:0px;
  position:absolute;
  left:184px;
  top:6px;
  width:1px;
  height:1px;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:38px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:116px;
  width:533px;
  height:38px;
  font-family:'나눔고딕 Bold', '나눔고딕 Regular', '나눔고딕';
  font-style:normal;
  text-align:left;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:529px;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:81px;
  width:540px;
  height:79px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
